.road_map {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    padding-top: 10rem;
    position: relative;
    top: -12rem;
}

.road_map_background_img {
    margin-right: -40px;
    position: absolute;
    height: 230%;
    width: 31rem;
    top: -40rem;
    right: 6rem;
    object-fit: contain;
    z-index: -1;

}

.main_heading {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    z-index: 10;
    align-items: center;
}

.uncolored_part {

    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}

.colored_part {
    color: rgba(22, 163, 74, 1);
    font-weight: 900;
    padding-left: 1rem;
}

.description {
    font-family: Open Sans, sans-serif;
    text-align: center;
    max-width: 36rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.road_map_img {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.road_map_img_large {
    height: 46em;
    max-width: 48rem;
    object-fit: contain;
}

.road_map_img_small {
    display: none;
    height: 46em;
    max-width: 48rem;
    object-fit: contain;
}


@media (min-width: 300px) and (max-width: 640px) {
    .road_map {
        top: -5rem;
        width: 89%;
        padding-right: 0rem;
    }

    .road_map_background_img {
        top: -15rem;
        right: 1.35rem;
        height: 185%;
        width: 15rem;
    }

    .uncolored_part {
        font-size: 3rem;
        max-width: 20rem;
        display: flex;
        flex-direction: column;
    }

    .road_map_img_large {
        display: none;
    }

    .road_map_img_small {
        display: block;
    }

}

@media (min-width: 641px) and (max-width: 768px) {
    .road_map {
        top: -5rem;
        width: 94%;
    }

    .road_map_background_img {
        top: -28rem;
        right: 1.7rem;
    }

    .uncolored_part {
        font-size: 2.95rem;
    }

    .road_map_img_large {
        display: none;
    }

    .road_map_img_small {
        display: block;
    }

}

@media (min-width: 769px) and (max-width: 1300px) {
    .road_map {
        top: -1.5rem;
        width: 97%;
        padding-left: 0.65rem;
    }

    .road_map_background_img {
        right: 2.5rem;
    }

    .road_map_img_large {
        height: 40em;
    }

    .road_map_img_small {
        display: none;
    }
}