.about-us {
    display: flex;
    height: max-content;
    width: 99%;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../public/img/shape_what_do.png);
    background-position-x: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 6rem;
    position: relative;
    top: -20rem;

}

.main-heading {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    padding: 1.25rem;
    align-items: center;
}


.what-do-we-do-heading {
    font-family: Montserrat, sans-serif;
    display: flex;
    font-size: 2.75rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-top: 3.5rem;
    width: max-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.We-Do {
    color: rgba(22, 163, 74, 1);
    font-weight: 900;
    width: max-content
}

.description {
    max-width: 36rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.25rem;
    font-weight: 100;
}


.cards-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    max-width: 64rem;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1.5rem;
    overflow-x: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
    height: 13.5rem;
    width: 11.5rem;
    background-image: url(../../../public/img/what-do-we-do-card.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.card-heading {
    display: flex;
    max-width: 11rem;
}

.card-img {
    height: 3rem;
    object-fit: contain;
}

.card-name {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    padding-left: .75rem;
    font-weight: 900;
    font-size: .875rem;
    line-height: 1.25rem;
}

.card-content {
    font-family: Montserrat, sans-serif;
    font-size: .75rem;
    line-height: 1rem;
    margin-top: 1.25rem;
    font-weight: 300;
    max-width: 11rem;

}

@media (min-width: 769px) and (max-width: 1300px) {
    .about-us {
        background-position-x: left;
        left: -8px;
        top: 0.5rem;
    }


    .cards-area {
        padding-left: 1rem;
    }
}