.accordion_item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(156, 163, 175, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.25rem;
    border-bottom-left-radius: 1.5rem
}

.accordion_title {
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.accordion_question {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 900;
}

.accordion_sign {
    color: rgba(52, 168, 96, 1);
    font-weight: 900;
    font-size: 2rem;
}

.accordion_title .accordion_sign {
    position: relative;
    right: 15px;
    bottom: 2px;
}

.accordion_content .accordion_sign {
    position: relative;
    bottom: 5px;
    font-size: 4rem;
    line-height: 1rem;
}

.accordion_content {
    display: flex;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 90%;
    height: 100%;
}

.accordion_answer {
    font-size: 1rem;
    line-height: 1rem;
}

.accordion_title:hover {
    cursor: pointer;
}


@media (min-width: 300px) and (max-width: 640px) {
    .accordion_title {
        width: 70%;
    }

    .accordion_title .accordion_sign {
        right: -15px;
        bottom: 4px;
    }

    .accordion_content {
        width: 85%;
    }

    .accordion_answer {
        font-size: 0.875rem;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .accordion_title {
        width: 85%;
    }

    .accordion_title .accordion_sign {
        right: -20px;
        bottom: 4px;
    }

    .accordion_content {
        width: 85%;
    }

    .accordion_answer {
        font-size: 0.875rem;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .accordion_title {
        width: 85%;
    }

    .accordion_title .accordion_sign {
        right: -20px;
        bottom: 4px;
    }

    .accordion_content {
        width: 85%;
    }

    .accordion_answer {
        font-size: 0.875rem;
    }
}